<!DOCTYPE html>
<html>
  <head>
    <title>Rails Boilerplate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'components/navbar' %>
    <div class="container">
        <%= yield %>
    </div>
    <%= render 'components/footer' %>
  </body>
</html>
